<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BTL_LTUDDD">

        <activity
            android:name=".admin.profile.AdminProfileActivity"
            android:exported="false" />

        <activity
            android:name=".admin.auth.AdminLoginActivity"
            android:exported="false" />
        <activity
            android:name=".admin.auth.AdminRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".admin.order.AdminOrderActivity"
            android:exported="false" />
        <activity
            android:name=".admin.product.addeditproduct.AddEditProductActivity"
            android:exported="false" />
        <activity
            android:name=".admin.product.AdminProductActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".client.profile.PersonalAddress.AddressActivity"
            android:exported="false" />
        <activity
            android:name=".client.profile.PersonalInfo.PersonalInfoActivity"
            android:exported="false" />
        <activity
            android:name=".client.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".client.listproduct.detail.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".client.cart.CartActivity"
            android:exported="false" />
        <activity
            android:name=".client.listproduct.CategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".client.dashboard.ClientActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>